[submodule "external/agentiq-opensource-ui"]
	path = external/agentiq-opensource-ui
	url = git@github.com:NVIDIA/AgentIQ-UI.git


[submodule "external/agentiq-hornbill"]
	path = external/agentiq-hornbill
	url = https://github.com/Hornbill-AI/agentiq-hornbill
